@page "/registration"
<div style="background-color: yellowgreen;">
    <h2 style="background-color: yellow; color:red">
        GARAM
        <small class="text-body-secondary" style="background-color: red; color:white">PIZZA</small>
    </h2>

    <br>
    <br>

    <div class="container" style="background-color: yellowgreen;">
        <div class="input-group mb-3">
            <label for="name">Name : </label>
            <InputText @bind-Value="Model.Name"></InputText>
        </div>
        <br>

        <div class="input-group mb-3">
            <label for="Mobile">Mobile Number : </label>
            <InputText type="number" @bind-Value="Model.MobileNumber"></InputText>
        </div>

        <br>

        <div class="input-group">
            <label for="address">Address : </label>
            <InputText @bind-Value="Model.Address"></InputText>
        </div>

        <br>

        <button type="button" class="btn btn-success" @onclick="AddToRecord"> Register </button>
    </div>

</div>
